<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ui.externaltools.ProgramLaunchConfigurationType">
    <booleanAttribute key="org.eclipse.debug.core.ATTR_FORCE_SYSTEM_CONSOLE_ENCODING" value="false"/>
    <stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${workspace}"/>
    <mapAttribute key="org.eclipse.debug.core.environmentVariables">
        <mapEntry key="JAVA_HOME" value="${maven.build.java.home}"/>
    </mapAttribute>
    <stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="${workspace_loc:/org.eclipse.justj.model/jre-gen/releng/org.eclipse.justj.site}/build.log"/>
    <listAttribute key="org.eclipse.debug.ui.favoriteGroups">
        <listEntry value="org.eclipse.ui.externaltools.launchGroup"/>
    </listAttribute>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LAUNCH_CONFIGURATION_BUILD_SCOPE" value="${none}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_LOCATION" value="${maven.build.command}"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_TOOL_ARGUMENTS" value="-Djustj.tools.repo=${file_uri:${resource_loc:/org.eclipse.justj.tools.site}}/target/repository&#13;&#10;-Dorg.eclipse.justj.p2.manager.args=&#13;&#10;-Duser.home=${system_property:user.home}&#13;&#10;-DX&#13;&#10;clean&#13;&#10;verify"/>
    <stringAttribute key="org.eclipse.ui.externaltools.ATTR_WORKING_DIRECTORY" value="${project_loc:/org.eclipse.justj.model}/jre-gen"/>
</launchConfiguration>
